apiVersion: apps/v1
kind: Deployment
metadata:
  name: chatbot-ui
spec:
  replicas: 1
  selector:
    matchLabels:
      app: chatbot-ui
  template:
    metadata:
      labels:
        app: chatbot-ui
    spec:
      containers:
      - name: ui
        image: yashraj777/chatbot-ui:latest
        ports:
        - containerPort: 8501
---
apiVersion: v1
kind: Service
metadata:
  name: chatbot-ui
spec:
  type: NodePort
  selector:
    app: chatbot-ui
  ports:
  - port: 8501
    targetPort: 8501
    nodePort: 30081
